In [1]:
#IST769 Midterm
#-----------------

# You will turn this file in along with screenshots as instructed on Blackboard

# YOUR NAME: Harmish Kamlesh Doshi
# YOUR EMAIL: hadoshi@syr.edu
# YOUR SUID: 208610770

# Configuration

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
minio_user = "minio"
passwd = "SU2orange!"
mongo_user = "mongo"
#user = "sidearm"
#passwd = "Sidearm12345"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = minio_user
s3_secret_key = passwd
mongo_uri = f"mongodb://{mongo_user}:{passwd}@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = "SU2orange!"
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.microsoft.azure#spark-mssql-connector_2.12 added as a dependency
com.microsoft.sqlserver#mssql-jdbc added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-ddef2ece-3b3d-4012-862d-8902b7e4b219;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 in central
	found com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 in central
:: resolution report :: resolve 619ms :: artifacts dl 18ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 from central in [default]
	com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-ddef2ece-3b3d-4012-862d-8902b7e4b219
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/17ms)
24/03/09 04:37:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Extract

## Players

In [4]:
#Reading Players Data from MS SQL
# HOW TO READ FROM MSSQL
players_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

players_df.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [5]:
players_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- number: string (nullable = true)
 |-- shots: integer (nullable = true)
 |-- goals: integer (nullable = true)
 |-- teamid: integer (nullable = true)

## Teams

In [6]:
# Reading Teams Tables from MSSQL
teams_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

teams_df.show()

+---+-------------+----------+----+------+
| id|         name|conference|wins|losses|
+---+-------------+----------+----+------+
|101|     syracuse|       acc|  11|     2|
|205|johns hopkins|     big10|   9|     4|
+---+-------------+----------+----+------+

In [7]:
teams_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- conference: string (nullable = true)
 |-- wins: integer (nullable = true)
 |-- losses: integer (nullable = true)

## Gamestream

### Q3

In [8]:
#Q3
# TODO: Read the gamestream.txt from minio
#With the help of StructType we are creating a schema for the data to be read from Minio (Object Storage).
myschema = StructType([StructField('event_id',IntegerType()),
                       StructField('timestamp',StringType()),
                       StructField('team_id',IntegerType()),
                       StructField('player_jersey_number',IntegerType()),
                       StructField('hit_or_miss',IntegerType())
                    ])

gamestream_df = spark.read\
      .csv(f"s3a://{s3_bucket}/gamestream.txt", schema = myschema, sep = ' ')

#Read data using csv function so we could apply the schema.

gamestream_df.show(5)

+--------+---------+-------+--------------------+-----------+
|event_id|timestamp|team_id|player_jersey_number|hit_or_miss|
+--------+---------+-------+--------------------+-----------+
|       0|    59:51|    101|                   2|          0|
|       1|    57:06|    101|                   6|          0|
|       2|    56:13|    205|                   8|          1|
|       3|    55:25|    101|                   4|          0|
|       4|    55:03|    101|                   1|          1|
+--------+---------+-------+--------------------+-----------+
only showing top 5 rows

In [9]:
gamestream_df.printSchema()

root
 |-- event_id: integer (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- team_id: integer (nullable = true)
 |-- player_jersey_number: integer (nullable = true)
 |-- hit_or_miss: integer (nullable = true)

# Transform & Questions

In [10]:
#Correcting "Jersey Number" field data type
players_df = players_df.withColumn('number', players_df['number'].cast('int'))
players_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- number: integer (nullable = true)
 |-- shots: integer (nullable = true)
 |-- goals: integer (nullable = true)
 |-- teamid: integer (nullable = true)

### Q4

In [11]:
# Q4 - PySpark SQL Query
#Creating runtime tables for the dataframes to use PySpark SQL
gamestream_df.createOrReplaceTempView('gamestream')
players_df.createOrReplaceTempView('players')
teams_df.createOrReplaceTempView('teams')
#Query

#Calculating Player Stats
#1. To calculate player stats we are left joining players data with gamestream data so we get all players even the players that are missing in gamestream data and then counting their stats like shots and goals. We are also filling NULL values with 0.


sql = """
        WITH temp_tbl1 (team_id, number, shots, goals) AS (
            SELECT
                p.teamid,
                p.number,
                COUNT(g.hit_or_miss),
                SUM(g.hit_or_miss)
            FROM
                players p
            LEFT JOIN
                gamestream g ON g.team_id = p.teamid AND g.player_jersey_number = p.number
            GROUP BY
                p.teamid, p.number
        ),
        temp_tbl2 (team_id, team_goal) AS (
            SELECT
                g.team_id,
                SUM(g.hit_or_miss)
            FROM
                gamestream g
            GROUP BY
                g.team_id
        )
        SELECT
            t1.team_id,
            t1.number,
            CASE WHEN t1.shots IS NOT NULL THEN t1.shots ELSE 0 END AS shots ,
            CASE WHEN t1.goals IS NOT NULL THEN t1.goals ELSE 0 END AS goals ,
            CASE WHEN t2.team_goal IS NOT NULL THEN t2.team_goal ELSE 0 END AS team_goal            
        FROM
            temp_tbl1 t1
        LEFT JOIN
            temp_tbl2 t2 ON t2.team_id = t1.team_id
        ORDER BY
            t1.team_id, t1.number
"""
q4_sql_df = spark.sql(sql)
q4_sql_df.show()

+-------+------+-----+-----+---------+
|team_id|number|shots|goals|team_goal|
+-------+------+-----+-----+---------+
|    101|     1|    8|    6|       14|
|    101|     2|    7|    2|       14|
|    101|     4|    5|    1|       14|
|    101|     6|    4|    2|       14|
|    101|     8|    4|    0|       14|
|    101|     9|    5|    0|       14|
|    101|    10|    3|    1|       14|
|    101|    13|    7|    1|       14|
|    101|    15|    3|    1|       14|
|    101|    17|    2|    0|       14|
|    205|     1|    3|    3|        9|
|    205|     2|    3|    1|        9|
|    205|     3|    1|    0|        9|
|    205|     5|    2|    1|        9|
|    205|     8|    2|    1|        9|
|    205|     9|    4|    0|        9|
|    205|    15|    2|    2|        9|
|    205|    16|    1|    0|        9|
|    205|    17|    3|    1|        9|
|    205|    22|    1|    0|        9|
+-------+------+-----+-----+---------+

In [12]:
# Q4 - PySpark API
#Calculating Player Stats
#To calculate player stats we are left joining players data with gamestream data so we get all players even the players that are missing in gamestream data and then counting their stats like shots and goals. We are also filling NULL values with 0. 
temp_df = players_df\
            .join(gamestream_df, (players_df.teamid == gamestream_df.team_id) & (players_df.number == gamestream_df.player_jersey_number), "left")\
            .select(players_df.teamid,players_df.number,gamestream_df.hit_or_miss)\
            .groupby('teamid','number')\
            .agg(count("hit_or_miss").alias("shots")\
                 ,sum("hit_or_miss").alias("goals"))\
            .na.fill(0)

#Calculating team Stats
#Here are are aggregating goals and grouping by team.
temp_df1 = gamestream_df\
            .select('team_id','hit_or_miss')\
            .groupby('team_id')\
            .agg(sum('hit_or_miss').alias('team_goals'))


#Merging both dataframes created above to create expected result.

q4_api_df = temp_df\
        .join(temp_df1, temp_df1.team_id == temp_df.teamid, "inner")\
        .select("teamid","number","shots","goals","team_goals")\
        .sort('teamid','number')
q4_api_df.show()

+------+------+-----+-----+----------+
|teamid|number|shots|goals|team_goals|
+------+------+-----+-----+----------+
|   101|     1|    8|    6|        14|
|   101|     2|    7|    2|        14|
|   101|     4|    5|    1|        14|
|   101|     6|    4|    2|        14|
|   101|     8|    4|    0|        14|
|   101|     9|    5|    0|        14|
|   101|    10|    3|    1|        14|
|   101|    13|    7|    1|        14|
|   101|    15|    3|    1|        14|
|   101|    17|    2|    0|        14|
|   205|     1|    3|    3|         9|
|   205|     2|    3|    1|         9|
|   205|     3|    1|    0|         9|
|   205|     5|    2|    1|         9|
|   205|     8|    2|    1|         9|
|   205|     9|    4|    0|         9|
|   205|    15|    2|    2|         9|
|   205|    16|    1|    0|         9|
|   205|    17|    3|    1|         9|
|   205|    22|    1|    0|         9|
+------+------+-----+-----+----------+

### Q5

In [13]:
# Q5 PySpark SQL
#I am using the same query from Q4, extracting eventid and timestamp from the gamestream with the maximum event id, and applying a cross join on the players' data. After preparing the table, I export the data to a DataFrame and then combine both DataFrames based on teamid and jersey number.

sql = """
WITH temp_tbl1 (team_id,number,shots,goals) as (
SELECT p.teamid,p.number, count(g.hit_or_miss),sum(g.hit_or_miss)
FROM players p
LEFT JOIN gamestream g ON g.team_id = p.teamid AND g.player_jersey_number = p.number
GROUP BY p.teamid,p.number
ORDER BY p.teamid,p.number),
temp_tbl2(team_id,team_goal) as (
SELECT g.team_id,SUM(g.hit_or_miss)
FROM gamestream g
GROUP BY g.team_id)
select t1.*, t2.team_goal
from temp_tbl1 t1
left join temp_tbl2 t2 on t2.team_id = t1.team_id
order by t1.team_id,t1.number
"""
q5_1_df = spark.sql(sql)

sql1 = """
    SELECT g.event_id,
            g.timestamp,
            p.teamid,
            p.number     
    FROM
            players p
    CROSS JOIN
            gamestream g
    WHERE event_id = (SELECT MAX(event_id) FROM gamestream)
"""

q5_2_df = spark.sql(sql1)

q5_1_df.\
join(q5_2_df, (q5_1_df.team_id == q5_2_df.teamid) & (q5_1_df.number == q5_2_df.number),"left").\
select(q5_2_df.event_id,q5_2_df.timestamp,q5_2_df.teamid,q5_2_df.number,q5_1_df.shots,q5_1_df.goals,q5_1_df.team_goal).\
na.fill(0).\
sort(q5_2_df.teamid,q5_2_df.number).\
show()

+--------+---------+------+------+-----+-----+---------+
|event_id|timestamp|teamid|number|shots|goals|team_goal|
+--------+---------+------+------+-----+-----+---------+
|      70|    00:00|   101|     1|    8|    6|       14|
|      70|    00:00|   101|     2|    7|    2|       14|
|      70|    00:00|   101|     4|    5|    1|       14|
|      70|    00:00|   101|     6|    4|    2|       14|
|      70|    00:00|   101|     8|    4|    0|       14|
|      70|    00:00|   101|     9|    5|    0|       14|
|      70|    00:00|   101|    10|    3|    1|       14|
|      70|    00:00|   101|    13|    7|    1|       14|
|      70|    00:00|   101|    15|    3|    1|       14|
|      70|    00:00|   101|    17|    2|    0|       14|
|      70|    00:00|   205|     1|    3|    3|        9|
|      70|    00:00|   205|     2|    3|    1|        9|
|      70|    00:00|   205|     3|    1|    0|        9|
|      70|    00:00|   205|     5|    2|    1|        9|
|      70|    00:00|   205|     8|    2|    1|        9|
|      70|    00:00|   205|     9|    4|    0|        9|
|      70|    00:00|   205|    15|    2|    2|        9|
|      70|    00:00|   205|    16|    1|    0|        9|
|      70|    00:00|   205|    17|    3|    1|        9|
|      70|    00:00|   205|    22|    1|    0|        9|
+--------+---------+------+------+-----+-----+---------+

In [14]:
#Q5 PySpark API
#Getting the maximum event id and storing it in a variable.
max_event_id = gamestream_df\
                .agg(max('event_id').alias('max_event_id'))\
                .collect()[0]['max_event_id']
#Getting eventid, timestamp from gamestream and joining it with dataframe from the Q4
q5_api_df = gamestream_df \
               .select('event_id','timestamp') \
               .filter(F.col('event_id') == F.lit(max_event_id)) \
               .join(q4_api_df)\
               .sort('teamid','number')
q5_api_df.show()

+--------+---------+------+------+-----+-----+----------+
|event_id|timestamp|teamid|number|shots|goals|team_goals|
+--------+---------+------+------+-----+-----+----------+
|      70|    00:00|   101|     1|    8|    6|        14|
|      70|    00:00|   101|     2|    7|    2|        14|
|      70|    00:00|   101|     4|    5|    1|        14|
|      70|    00:00|   101|     6|    4|    2|        14|
|      70|    00:00|   101|     8|    4|    0|        14|
|      70|    00:00|   101|     9|    5|    0|        14|
|      70|    00:00|   101|    10|    3|    1|        14|
|      70|    00:00|   101|    13|    7|    1|        14|
|      70|    00:00|   101|    15|    3|    1|        14|
|      70|    00:00|   101|    17|    2|    0|        14|
|      70|    00:00|   205|     1|    3|    3|         9|
|      70|    00:00|   205|     2|    3|    1|         9|
|      70|    00:00|   205|     3|    1|    0|         9|
|      70|    00:00|   205|     5|    2|    1|         9|
|      70|    00:00|   205|     8|    2|    1|         9|
|      70|    00:00|   205|     9|    4|    0|         9|
|      70|    00:00|   205|    15|    2|    2|         9|
|      70|    00:00|   205|    16|    1|    0|         9|
|      70|    00:00|   205|    17|    3|    1|         9|
|      70|    00:00|   205|    22|    1|    0|         9|
+--------+---------+------+------+-----+-----+----------+

### Q6

In [15]:
#Q6 With the help of Q5 PySpark API
#Getting data from the table created in Q5 and joining it with players and teams data to get relevent data.
q6_api_df = q5_api_df\
        .join(players_df, (q5_api_df.teamid == players_df.teamid) & (q5_api_df.number == players_df.number))\
        .join(teams_df, q5_api_df.teamid == teams_df.id)\
        .select(q5_api_df.event_id
               ,q5_api_df.timestamp
               ,q5_api_df.teamid
               ,teams_df.name.alias('team_name')
               ,teams_df.conference
               ,teams_df.wins.alias('team_overall_wins')
               ,teams_df.losses.alias('team_overall_losses')
               ,q5_api_df.number.alias('player_jersey_number')
               ,players_df.name.alias('player_name')
               ,q5_api_df.shots.alias('current_game_shots')
               ,q5_api_df.goals.alias('current_game_goals')
               ,round((q5_api_df.goals / q5_api_df.shots) * 100,2).alias('current_game_goal_percent')
               ,q5_api_df.team_goals)\
        .withColumn("team_type", when(q5_api_df.teamid == 101, 'home').otherwise('away'))\
        .na.fill(0)\
        .sort(q5_api_df.teamid,q5_api_df.number)\
#Calculating goals scored by home and away team.
home_goals = q6_api_df\
                .filter(q6_api_df.team_type == 'home')\
                .select('team_goals')\
                .distinct()\
                .collect()[0]['team_goals']

away_goals = q6_api_df\
                .filter(q6_api_df.team_type == 'away')\
                .select('team_goals')\
                .distinct()\
                .collect()[0]['team_goals']
#Appending the above dataframe with the result who is winning and who is losing
q6_api_df = q6_api_df.withColumn(
    "team_result",
    F.when((F.col("team_type") == "home") & (F.col("team_goals") > away_goals), "Winning")
    .when((F.col("team_type") == "home") & (F.col("team_goals") <= away_goals), "Losing")
    .when((F.col("team_type") == "away") & (F.col("team_goals") > home_goals), "Winning")
    .when((F.col("team_type") == "away") & (F.col("team_goals") <= home_goals), "Losing")
    .otherwise("Tie")
)

q6_api_df.show()

+--------+---------+------+-------------+----------+-----------------+-------------------+--------------------+-----------+------------------+------------------+-------------------------+----------+---------+-----------+
|event_id|timestamp|teamid|    team_name|conference|team_overall_wins|team_overall_losses|player_jersey_number|player_name|current_game_shots|current_game_goals|current_game_goal_percent|team_goals|team_type|team_result|
+--------+---------+------+-------------+----------+-----------------+-------------------+--------------------+-----------+------------------+------------------+-------------------------+----------+---------+-----------+
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                   1|      sarah|                 8|                 6|                     75.0|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                   2|      steve|                 7|                 2|                    28.57|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                   4|      shree|                 5|                 1|                     20.0|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                   6|        sam|                 4|                 2|                     50.0|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                   8|        sly|                 4|                 0|                      0.0|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                   9|        sol|                 5|                 0|                      0.0|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                  10|      swede|                 3|                 1|                    33.33|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                  13|      stone|                 7|                 1|                    14.29|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                  15|     shelly|                 3|                 1|                    33.33|        14|     home|    Winning|
|      70|    00:00|   101|     syracuse|       acc|               11|                  2|                  17|       sean|                 2|                 0|                      0.0|        14|     home|    Winning|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                   1|      jimmy|                 3|                 3|                    100.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                   2|      james|                 3|                 1|                    33.33|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                   3|       jane|                 1|                 0|                      0.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                   5|      jimmy|                 2|                 1|                     50.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                   8|      julie|                 2|                 1|                     50.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                   9|      julie|                 4|                 0|                      0.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                  15|       jane|                 2|                 2|                    100.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                  16|      jimmy|                 1|                 0|                      0.0|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                  17|      james|                 3|                 1|                    33.33|         9|     away|     Losing|
|      70|    00:00|   205|johns hopkins|     big10|                9|                  4|                  22|      julie|                 1|                 0|                      0.0|         9|     away|     Losing|
+--------+---------+------+-------------+----------+-----------------+-------------------+--------------------+-----------+------------------+------------------+-------------------------+----------+---------+-----------+

### Q7

In [16]:
#Player Level Data
q7_api_home_players_data = q6_api_df\
                                .filter(q6_api_df.team_type == 'home')\
                                .select('teamid','player_jersey_number','player_name','current_game_shots','current_game_goals','current_game_goal_percent')\
                                .sort(q6_api_df.player_jersey_number)

q7_api_away_players_data = q6_api_df\
                                .filter(q6_api_df.team_type == 'away')\
                                .select('teamid','player_jersey_number','player_name','current_game_shots','current_game_goals','current_game_goal_percent')\
                                .sort(q6_api_df.player_jersey_number)

q7_api_home_players_data.show()
q7_api_away_players_data.show()

#Team Level Data:
q7_api_home_team_data = q6_api_df\
                            .filter(q6_api_df.team_type == 'home')\
                            .select('event_id','teamid','team_name','conference','team_overall_wins','team_overall_losses','team_goals','team_result')\
                            .distinct()

q7_api_away_team_data = q6_api_df\
                            .filter(q6_api_df.team_type == 'away')\
                            .select('event_id','teamid','team_name','conference','team_overall_wins','team_overall_losses','team_goals','team_result')\
                            .distinct()

q7_api_home_team_data.show()
q7_api_away_team_data.show()

#Event Level Data
q7_api_event_data = q6_api_df\
                            .select('event_id','timestamp')\
                            .distinct()

q7_api_event_data.show()

# struct for player details
player_struct = F.struct(
    F.col("player_jersey_number").alias("player_jersey_number"),
    F.col("player_name").alias("player_name"),
    F.col("current_game_shots").alias("current_game_shots"),
    F.col("current_game_goals").alias("current_game_goals"),
    F.col("current_game_goal_percent").alias("current_game_goal_percent")
)

# array of player details
players_array = F.sort_array(F.collect_list(player_struct), asc=True).alias("players")

# Join the team data with players and group by teamid
home_team_with_players_df = q7_api_home_team_data.alias("t")\
    .join(q7_api_home_players_data.alias("p"), "teamid")\
    .groupBy("t.event_id","t.teamid", "t.team_name", "t.conference", "t.team_overall_wins", "t.team_overall_losses", "t.team_goals","t.team_result")\
    .agg(
        players_array
    )\
    .select(
        F.col("event_id"),
        F.col("teamid"),
        F.col("team_name"),
        F.col("conference"),
        F.col("team_overall_wins"),
        F.col("team_overall_losses"),
        F.col("team_goals"),
        F.col("team_result"),
        F.col("players")
    )

# Show the resulting DataFrame
home_team_with_players_df.show(truncate=False)
home_team_with_players_df.write.json("home_team_with_players.json", mode="overwrite")

# Create a struct for player details
player_struct = F.struct(
    F.col("player_jersey_number").alias("player_jersey_number"),
    F.col("player_name").alias("player_name"),
    F.col("current_game_shots").alias("current_game_shots"),
    F.col("current_game_goals").alias("current_game_goals"),
    F.col("current_game_goal_percent").alias("current_game_goal_percent")
)

# array of player details
players_array = F.sort_array(F.collect_list(player_struct), asc=True).alias("players")

# Join the team data with players and group by teamid
away_team_with_players_df = q7_api_away_team_data.alias("t")\
    .join(q7_api_away_players_data.alias("p"), "teamid")\
    .groupBy("t.event_id","t.teamid", "t.team_name", "t.conference", "t.team_overall_wins", "t.team_overall_losses", "t.team_goals","t.team_result")\
    .agg(
        players_array
    )\
    .select(
        F.col("event_id"),
        F.col("teamid"),
        F.col("team_name"),
        F.col("conference"),
        F.col("team_overall_wins"),
        F.col("team_overall_losses"),
        F.col("team_goals"),
        F.col("team_result"),
        F.col("players")
    )

# Show the resulting DataFrame
away_team_with_players_df.show(truncate=False)
away_team_with_players_df.write.json("away_team_with_players.json", mode="overwrite")

from pyspark.sql import SparkSession, functions as F

# Select the desired columns for home team
home_team_final_df = home_team_with_players_df.select(
    F.col("event_id").alias("home_event_id"),
    F.col("teamid").alias("home_teamid"),
    F.col("team_name").alias("home_teamname"),
    F.col("conference").alias("home_conference"),
    F.col("team_overall_wins").alias("home_wins"),
    F.col("team_overall_losses").alias("home_losses"),
    F.col("team_goals").alias("home_score"),
    F.col("team_result").alias("home_status"),
    F.col("players").alias("home_players")
)

# Select the desired columns for away team
away_team_final_df = away_team_with_players_df.select(
    F.col("event_id").alias("away_event_id"),
    F.col("teamid").alias("away_teamid"),
    F.col("team_name").alias("away_teamname"),
    F.col("conference").alias("away_conference"),
    F.col("team_overall_wins").alias("away_wins"),
    F.col("team_overall_losses").alias("away_losses"),
    F.col("team_goals").alias("away_score"),
    F.col("team_result").alias("away_status"),
    F.col("players").alias("away_players")
)

# distinct event details
event_details_df = q7_api_event_data.select("event_id", "timestamp")

# Join home team data with event details
home_team_event_df = event_details_df.join(home_team_final_df, F.col("event_id") == F.col("home_event_id"), "left")

# Join away team data with event details
final_team_player_event_data = home_team_event_df.join(away_team_final_df, F.col("event_id") == F.col("away_event_id"), "left")

# Select columns for the final DataFrame
final_team_player_event_data = final_team_player_event_data.select(
    F.col("event_id").alias("_id"),
    F.col("timestamp"),
    F.struct(
        F.col("home_teamid").alias("teamid"),
        F.col("home_teamname").alias("teamname"),
        F.col("home_conference").alias("conference"),
        F.col("home_wins").alias("wins"),
        F.col("home_losses").alias("losses"),
        F.col("home_score").alias("score"),
        F.col("home_status").alias("status"),
        F.col("home_players").alias("players")
    ).alias("home"),
    F.struct(
        F.col("away_teamid").alias("teamid"),
        F.col("away_teamname").alias("teamname"),
        F.col("away_conference").alias("conference"),
        F.col("away_wins").alias("wins"),
        F.col("away_losses").alias("losses"),
        F.col("away_score").alias("score"),
        F.col("away_status").alias("status"),
        F.col("away_players").alias("players")
    ).alias("away")
)

#Final Dataframe
final_team_player_event_data.show()
final_team_player_event_data.write.json("final_team_player_event_data.json", mode="overwrite")
final_team_player_event_data.printSchema()

+------+--------------------+-----------+------------------+------------------+-------------------------+
|teamid|player_jersey_number|player_name|current_game_shots|current_game_goals|current_game_goal_percent|
+------+--------------------+-----------+------------------+------------------+-------------------------+
|   101|                   1|      sarah|                 8|                 6|                     75.0|
|   101|                   2|      steve|                 7|                 2|                    28.57|
|   101|                   4|      shree|                 5|                 1|                     20.0|
|   101|                   6|        sam|                 4|                 2|                     50.0|
|   101|                   8|        sly|                 4|                 0|                      0.0|
|   101|                   9|        sol|                 5|                 0|                      0.0|
|   101|                  10|      swede|                 3|                 1|                    33.33|
|   101|                  13|      stone|                 7|                 1|                    14.29|
|   101|                  15|     shelly|                 3|                 1|                    33.33|
|   101|                  17|       sean|                 2|                 0|                      0.0|
+------+--------------------+-----------+------------------+------------------+-------------------------+

+------+--------------------+-----------+------------------+------------------+-------------------------+
|teamid|player_jersey_number|player_name|current_game_shots|current_game_goals|current_game_goal_percent|
+------+--------------------+-----------+------------------+------------------+-------------------------+
|   205|                   1|      jimmy|                 3|                 3|                    100.0|
|   205|                   2|      james|                 3|                 1|                    33.33|
|   205|                   3|       jane|                 1|                 0|                      0.0|
|   205|                   5|      jimmy|                 2|                 1|                     50.0|
|   205|                   8|      julie|                 2|                 1|                     50.0|
|   205|                   9|      julie|                 4|                 0|                      0.0|
|   205|                  15|       jane|                 2|                 2|                    100.0|
|   205|                  16|      jimmy|                 1|                 0|                      0.0|
|   205|                  17|      james|                 3|                 1|                    33.33|
|   205|                  22|      julie|                 1|                 0|                      0.0|
+------+--------------------+-----------+------------------+------------------+-------------------------+

+--------+------+---------+----------+-----------------+-------------------+----------+-----------+
|event_id|teamid|team_name|conference|team_overall_wins|team_overall_losses|team_goals|team_result|
+--------+------+---------+----------+-----------------+-------------------+----------+-----------+
|      70|   101| syracuse|       acc|               11|                  2|        14|    Winning|
+--------+------+---------+----------+-----------------+-------------------+----------+-----------+

+--------+------+-------------+----------+-----------------+-------------------+----------+-----------+
|event_id|teamid|    team_name|conference|team_overall_wins|team_overall_losses|team_goals|team_result|
+--------+------+-------------+----------+-----------------+-------------------+----------+-----------+
|      70|   205|johns hopkins|     big10|                9|                  4|         9|     Losing|
+--------+------+-------------+----------+-----------------+-------------------+----------+-----------+

+--------+---------+
|event_id|timestamp|
+--------+---------+
|      70|    00:00|
+--------+---------+

+--------+------+---------+----------+-----------------+-------------------+----------+-----------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|event_id|teamid|team_name|conference|team_overall_wins|team_overall_losses|team_goals|team_result|players                                                                                                                                                                                                                                        |
+--------+------+---------+----------+-----------------+-------------------+----------+-----------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|70      |101   |syracuse |acc       |11               |2                  |14        |Winning    |[{1, sarah, 8, 6, 75.0}, {2, steve, 7, 2, 28.57}, {4, shree, 5, 1, 20.0}, {6, sam, 4, 2, 50.0}, {8, sly, 4, 0, 0.0}, {9, sol, 5, 0, 0.0}, {10, swede, 3, 1, 33.33}, {13, stone, 7, 1, 14.29}, {15, shelly, 3, 1, 33.33}, {17, sean, 2, 0, 0.0}]|
+--------+------+---------+----------+-----------------+-------------------+----------+-----------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

+--------+------+-------------+----------+-----------------+-------------------+----------+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|event_id|teamid|team_name    |conference|team_overall_wins|team_overall_losses|team_goals|team_result|players                                                                                                                                                                                                                                           |
+--------+------+-------------+----------+-----------------+-------------------+----------+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|70      |205   |johns hopkins|big10     |9                |4                  |9         |Losing     |[{1, jimmy, 3, 3, 100.0}, {2, james, 3, 1, 33.33}, {3, jane, 1, 0, 0.0}, {5, jimmy, 2, 1, 50.0}, {8, julie, 2, 1, 50.0}, {9, julie, 4, 0, 0.0}, {15, jane, 2, 2, 100.0}, {16, jimmy, 1, 0, 0.0}, {17, james, 3, 1, 33.33}, {22, julie, 1, 0, 0.0}]|
+--------+------+-------------+----------+-----------------+-------------------+----------+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

+---+---------+--------------------+--------------------+
|_id|timestamp|                home|                away|
+---+---------+--------------------+--------------------+
| 70|    00:00|{101, syracuse, a...|{205, johns hopki...|
+---+---------+--------------------+--------------------+

root
 |-- _id: integer (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- home: struct (nullable = false)
 |    |-- teamid: integer (nullable = true)
 |    |-- teamname: string (nullable = true)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- score: long (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- players: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- player_jersey_number: integer (nullable = true)
 |    |    |    |-- player_name: string (nullable = true)
 |    |    |    |-- current_game_shots: long (nullable = false)
 |    |    |    |-- current_game_goals: long (nullable = true)
 |    |    |    |-- current_game_goal_percent: double (nullable = false)
 |-- away: struct (nullable = false)
 |    |-- teamid: integer (nullable = true)
 |    |-- teamname: string (nullable = true)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- score: long (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- players: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- player_jersey_number: integer (nullable = true)
 |    |    |    |-- player_name: string (nullable = true)
 |    |    |    |-- current_game_shots: long (nullable = false)
 |    |    |    |-- current_game_goals: long (nullable = true)
 |    |    |    |-- current_game_goal_percent: double (nullable = false)

### Q8

In [17]:
#Writing output from Q7 to mongo db 
final_team_player_event_data.write.format("mongo").mode("overwrite")\
      .option("database","sidearm").option("collection","boxscores")\
      .save()

### Q9

In [ ]:
#Q3
# TODO: Read the gamestream.txt from minio
#With the help of StructType we are creating a schema for the data to be read from Minio (Object Storage).
myschema = StructType([StructField('event_id',IntegerType()),
                       StructField('timestamp',StringType()),
                       StructField('team_id',IntegerType()),
                       StructField('player_jersey_number',IntegerType()),
                       StructField('hit_or_miss',IntegerType())
                    ])

gamestream_df = spark.read\
      .csv(f"s3a://{s3_bucket}/gamestream.txt", schema = myschema, sep = ' ')

#Read data using csv function so we could apply the schema.

# Q4 - PySpark API

#Calculating Player Stats
#To calculate player stats we are left joining players data with gamestream data so we get all players even the players that are missing in gamestream data and then counting their stats like shots and goals. We are also filling NULL values with 0. 
temp_df = players_df\
            .join(gamestream_df, (players_df.teamid == gamestream_df.team_id) & (players_df.number == gamestream_df.player_jersey_number), "left")\
            .select(players_df.teamid,players_df.number,gamestream_df.hit_or_miss)\
            .groupby('teamid','number')\
            .agg(count("hit_or_miss").alias("shots")\
                 ,sum("hit_or_miss").alias("goals"))\
            .na.fill(0)

#Calculating team Stats
#Here are are aggregating goals and grouping by team.
temp_df1 = gamestream_df\
            .select('team_id','hit_or_miss')\
            .groupby('team_id')\
            .agg(sum('hit_or_miss').alias('team_goals'))


#Merging both dataframes created above to create expected result.

q4_api_df = temp_df\
        .join(temp_df1, temp_df1.team_id == temp_df.teamid, "inner")\
        .select("teamid","number","shots","goals","team_goals")\
        .sort('teamid','number')

#Q5 PySpark API

#Getting the maximum event id and storing it in a variable.
max_event_id = gamestream_df\
                .agg(max('event_id').alias('max_event_id'))\
                .collect()[0]['max_event_id']
#Getting eventid, timestamp from gamestream and joining it with dataframe from the Q4
q5_api_df = gamestream_df \
               .select('event_id','timestamp') \
               .filter(F.col('event_id') == F.lit(max_event_id)) \
               .join(q4_api_df)\
               .sort('teamid','number')


#Q6 

#Getting data from the table created in Q5 and joining it with players and teams data to get relevent data.
q6_api_df = q5_api_df\
        .join(players_df, (q5_api_df.teamid == players_df.teamid) & (q5_api_df.number == players_df.number))\
        .join(teams_df, q5_api_df.teamid == teams_df.id)\
        .select(q5_api_df.event_id
               ,q5_api_df.timestamp
               ,q5_api_df.teamid
               ,teams_df.name.alias('team_name')
               ,teams_df.conference
               ,teams_df.wins.alias('team_overall_wins')
               ,teams_df.losses.alias('team_overall_losses')
               ,q5_api_df.number.alias('player_jersey_number')
               ,players_df.name.alias('player_name')
               ,q5_api_df.shots.alias('current_game_shots')
               ,q5_api_df.goals.alias('current_game_goals')
               ,round((q5_api_df.goals / q5_api_df.shots) * 100,2).alias('current_game_goal_percent')
               ,q5_api_df.team_goals)\
        .withColumn("team_type", when(q5_api_df.teamid == 101, 'home').otherwise('away'))\
        .na.fill(0)\
        .sort(q5_api_df.teamid,q5_api_df.number)\
#Calculating goals scored by home and away team.
home_goals = q6_api_df\
                .filter(q6_api_df.team_type == 'home')\
                .select('team_goals')\
                .distinct()\
                .collect()[0]['team_goals']

away_goals = q6_api_df\
                .filter(q6_api_df.team_type == 'away')\
                .select('team_goals')\
                .distinct()\
                .collect()[0]['team_goals']
#Appending the above dataframe with the result who is winning and who is losing
q6_api_df = q6_api_df.withColumn(
    "team_result",
    F.when((F.col("team_type") == "home") & (F.col("team_goals") > away_goals), "Winning")
    .when((F.col("team_type") == "home") & (F.col("team_goals") <= away_goals), "Losing")
    .when((F.col("team_type") == "away") & (F.col("team_goals") > home_goals), "Winning")
    .when((F.col("team_type") == "away") & (F.col("team_goals") <= home_goals), "Losing")
    .otherwise("Tie")
)

#Q7

#Player Level Data
q7_api_home_players_data = q6_api_df\
                                .filter(q6_api_df.team_type == 'home')\
                                .select('teamid','player_jersey_number','player_name','current_game_shots','current_game_goals','current_game_goal_percent')\
                                .sort(q6_api_df.player_jersey_number)

q7_api_away_players_data = q6_api_df\
                                .filter(q6_api_df.team_type == 'away')\
                                .select('teamid','player_jersey_number','player_name','current_game_shots','current_game_goals','current_game_goal_percent')\
                                .sort(q6_api_df.player_jersey_number)
#Team Level Data:
q7_api_home_team_data = q6_api_df\
                            .filter(q6_api_df.team_type == 'home')\
                            .select('event_id','teamid','team_name','conference','team_overall_wins','team_overall_losses','team_goals','team_result')\
                            .distinct()

q7_api_away_team_data = q6_api_df\
                            .filter(q6_api_df.team_type == 'away')\
                            .select('event_id','teamid','team_name','conference','team_overall_wins','team_overall_losses','team_goals','team_result')\
                            .distinct()

#Event Level Data
q7_api_event_data = q6_api_df\
                            .select('event_id','timestamp')\
                            .distinct()

# struct for player details
player_struct = F.struct(
    F.col("player_jersey_number").alias("player_jersey_number"),
    F.col("player_name").alias("player_name"),
    F.col("current_game_shots").alias("current_game_shots"),
    F.col("current_game_goals").alias("current_game_goals"),
    F.col("current_game_goal_percent").alias("current_game_goal_percent")
)

# array of player details
players_array = F.sort_array(F.collect_list(player_struct), asc=True).alias("players")

# Join the team data with players and group by teamid
home_team_with_players_df = q7_api_home_team_data.alias("t")\
    .join(q7_api_home_players_data.alias("p"), "teamid")\
    .groupBy("t.event_id","t.teamid", "t.team_name", "t.conference", "t.team_overall_wins", "t.team_overall_losses", "t.team_goals","t.team_result")\
    .agg(
        players_array
    )\
    .select(
        F.col("event_id"),
        F.col("teamid"),
        F.col("team_name"),
        F.col("conference"),
        F.col("team_overall_wins"),
        F.col("team_overall_losses"),
        F.col("team_goals"),
        F.col("team_result"),
        F.col("players")
    )


# Create a struct for player details
player_struct = F.struct(
    F.col("player_jersey_number").alias("player_jersey_number"),
    F.col("player_name").alias("player_name"),
    F.col("current_game_shots").alias("current_game_shots"),
    F.col("current_game_goals").alias("current_game_goals"),
    F.col("current_game_goal_percent").alias("current_game_goal_percent")
)

# array of player details
players_array = F.sort_array(F.collect_list(player_struct), asc=True).alias("players")

# Join the team data with players and group by teamid
away_team_with_players_df = q7_api_away_team_data.alias("t")\
    .join(q7_api_away_players_data.alias("p"), "teamid")\
    .groupBy("t.event_id","t.teamid", "t.team_name", "t.conference", "t.team_overall_wins", "t.team_overall_losses", "t.team_goals","t.team_result")\
    .agg(
        players_array
    )\
    .select(
        F.col("event_id"),
        F.col("teamid"),
        F.col("team_name"),
        F.col("conference"),
        F.col("team_overall_wins"),
        F.col("team_overall_losses"),
        F.col("team_goals"),
        F.col("team_result"),
        F.col("players")
    )

from pyspark.sql import SparkSession, functions as F

# Select the desired columns for home team
home_team_final_df = home_team_with_players_df.select(
    F.col("event_id").alias("home_event_id"),
    F.col("teamid").alias("home_teamid"),
    F.col("team_name").alias("home_teamname"),
    F.col("conference").alias("home_conference"),
    F.col("team_overall_wins").alias("home_wins"),
    F.col("team_overall_losses").alias("home_losses"),
    F.col("team_goals").alias("home_score"),
    F.col("team_result").alias("home_status"),
    F.col("players").alias("home_players")
)

# Select the desired columns for away team
away_team_final_df = away_team_with_players_df.select(
    F.col("event_id").alias("away_event_id"),
    F.col("teamid").alias("away_teamid"),
    F.col("team_name").alias("away_teamname"),
    F.col("conference").alias("away_conference"),
    F.col("team_overall_wins").alias("away_wins"),
    F.col("team_overall_losses").alias("away_losses"),
    F.col("team_goals").alias("away_score"),
    F.col("team_result").alias("away_status"),
    F.col("players").alias("away_players")
)

# distinct event details
event_details_df = q7_api_event_data.select("event_id", "timestamp")

# Join home team data with event details
home_team_event_df = event_details_df.join(home_team_final_df, F.col("event_id") == F.col("home_event_id"), "left")

# Join away team data with event details
final_team_player_event_data = home_team_event_df.join(away_team_final_df, F.col("event_id") == F.col("away_event_id"), "left")

# Select columns for the final DataFrame
final_team_player_event_data = final_team_player_event_data.select(
    F.col("event_id").alias("_id"),
    F.col("timestamp"),
    F.struct(
        F.col("home_teamid").alias("teamid"),
        F.col("home_teamname").alias("teamname"),
        F.col("home_conference").alias("conference"),
        F.col("home_wins").alias("wins"),
        F.col("home_losses").alias("losses"),
        F.col("home_score").alias("score"),
        F.col("home_status").alias("status"),
        F.col("home_players").alias("players")
    ).alias("home"),
    F.struct(
        F.col("away_teamid").alias("teamid"),
        F.col("away_teamname").alias("teamname"),
        F.col("away_conference").alias("conference"),
        F.col("away_wins").alias("wins"),
        F.col("away_losses").alias("losses"),
        F.col("away_score").alias("score"),
        F.col("away_status").alias("status"),
        F.col("away_players").alias("players")
    ).alias("away")
)

#Final Dataframe
final_team_player_event_data.show()
final_team_player_event_data.write.json("final_team_player_event_data.json", mode="overwrite")


#Q8
#Writing output from Q7 to mongo db 
final_team_player_event_data.write.format("mongo").mode("overwrite")\
      .option("database","sidearm").option("collection","boxscores")\
      .save()

+---+---------+--------------------+--------------------+
|_id|timestamp|                home|                away|
+---+---------+--------------------+--------------------+
| 70|    00:00|{101, syracuse, a...|{205, johns hopki...|
+---+---------+--------------------+--------------------+

### Q11

In [ ]:
#Calculating the updated wins and losses after the game is over i.e timestamp = 00:00
q6_api_df.createOrReplaceTempView('q6_api_df')
sql = """
   WITH team_wins(team_id,updated_wins)
   AS (SELECT DISTINCT t.id,CASE WHEN q6api.team_result = 'Winning' THEN t.wins + 1 ELSE t.wins END AS updated_wins
        FROM teams t
        JOIN q6_api_df q6api ON t.id = q6api.teamid
        WHERE q6api.timestamp = '00:00'),
    team_losses(team_id,updated_losses)
       AS (SELECT DISTINCT t.id,CASE WHEN q6api.team_result = 'Losing' THEN t.losses + 1 ELSE t.losses END AS updated_losses
        FROM teams t
        JOIN q6_api_df q6api ON t.id = q6api.teamid
        WHERE q6api.timestamp = '00:00'),
    teams_cte(id,name,conference) AS (
    SELECT id,name,conference FROM teams)
    
    SELECT t.*,tw.updated_wins,tl.updated_losses
    FROM teams_cte t
    JOIN team_wins tw ON t.id = tw.team_id
    JOIN team_losses tl ON t.id = tl.team_id
"""

q11_api_df = spark.sql(sql)
q11_api_df.show()

### Q12

In [ ]:
# HOW TO WRITE TO MSSQL
q11_api_df.write.format("com.microsoft.sqlserver.jdbc.spark") \
            .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
            .mode("overwrite") \
            .option("url", mssql_url) \
            .option("dbtable", "teams2") \
            .option("user", mssql_user) \
            .option("password", mssql_pw) \
            .save()

### Q13

In [ ]:
#Extracting players data and latest scores from gamestream and then calculating the updated shots and goals.
sql = """
WITH players_temp(id,name,number,teamid,shots,goals) AS (
        SELECT id,
                name,
                number,
                teamid,
                shots,
                goals 
        FROM players
),
q6api(teamid,player_jersey_number,current_game_shots,current_game_goals) AS (
        SELECT teamid,
                player_jersey_number,
                current_game_shots,
                current_game_goals 
        FROM q6_api_df
        WHERE timestamp = '00:00'
)
SELECT pt.id,pt.name,pt.number,(pt.shots + q6.current_game_shots) updated_shots,(pt.goals + q6.current_game_goals) updated_goals,pt.teamid
FROM players_temp pt
JOIN q6api q6 ON q6.teamid = pt.teamid AND q6.player_jersey_number = pt.number
ORDER BY pt.id
"""
q13_api_df = spark.sql(sql)
q13_api_df.show()

### Q14

In [ ]:
# HOW TO WRITE TO MSSQL
q13_api_df.write.format("com.microsoft.sqlserver.jdbc.spark") \
            .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
            .mode("overwrite") \
            .option("url", mssql_url) \
            .option("dbtable", "players2") \
            .option("user", mssql_user) \
            .option("password", mssql_pw) \
            .save()